<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scan</title>


    <style>
        .container {
            display: flex;
        }
    </style>
</head>
<body>
   
    <% for (var i =1; i <= quantity;  i++ ) { %>
         <div class="container">
                <img src=<%= src %> alt="">
                <h1><%= i %> th Code</h1>
        </div>
     <% } %>

            
</body>
 </html>