<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE SCAN</title>
    
    <style>
        
        * {
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        body {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background:#000 ;
        }
        .top-section {
            height: 17vh;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;
        }
        
        .right h1 {
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        .right h2 {
            padding: 7px;
            background: #fff;
            color: #000;
            border-radius: 20px;
            text-align: center;
        }
        .top-section .logo{
            margin: 0 20px 0px 0;
        }
        .top-section .logo h1{
            font-size: 2.5em;
            font-weight: bold;
        }
        .right h2 span{
            font-weight: lighter;
        } 
        
        .bottom-section {
            margin:50px 0px 20px 0;
        }
        .bottom-section .code {
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;
            padding: 0 0 10px 0;
        }
        .bottom-section .code h1{
            padding:20px 15px;
            background: #fff;
            border-radius: 50%;
            height: 130px;
            text-align: center;
            line-height: 90px;
        }
        .one-section {
            margin-bottom: 25px;
            background: darkcyan;
            width: 80%;
            margin: auto;
        }
        .myBtn {
            font-size: 1.9em;
            margin: auto;
            display: block;
            width: 15%;
            padding: 8px 3px;
        }
        img {
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>
    
    <!-- <div class="container"> -->
        
        <div class="bottom-section">
            <% for (var i =1; i <= quantity;  i++ ) { %>
                <div class="one-section">
                    <div class="top-section">
                        <div class="logo">
                            <img src="/kisspng-mangalore-berger-paints-company-house-painter-and-bathroom-mat-5b06b9ac135611.9765751215271674040793.png" alt="">
                        </div>
                        <div class="right">
                            <h1>Painter Token</h1>
                            <h2>Easy Clean <span>20ft</span></h2>
                        </div>
                    </div>
                    
                    <div class="code">
                        <img src=<%= src %> alt="">
                        <h1><%= i %> th Code</h1>
                    </div>             
                </div>
                <% } %> 
            
                <button onclick="window.print()" class="myBtn">Print</button>
            </div>
            
            
        </body>
        </html>